.connection {
    border: 1px solid #333;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 15vh auto 0;
    padding: 10px;
    width: 80%;
}
.connection .form-label,
.connection .form-control {
    margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
    .connection {
        width: 50%;
    }
}
@media screen and (min-width: 1024px) {
    .connection {
        width: 30%;
    }
}

.unstyled {
    list-style: none;
    padding: 0;
}
.unstyled li {
    display: block;
    padding: 0.5em;
}
.form-control {
    border: 1px solid #333;
    padding: 5px 10px;
}
.btn {
    border: 1px solid #fb6812;
    background: #fb6812;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}
.btn[disabled] {
    color: #eee;
    cursor: default;
    opacity: 0.8;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.room {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.room .talk {
    display: flex;
    flex-direction: column;
}
.room .chat {
    overflow: auto;
}
.room .talk,
.room .chat,
.talk-input .form-control {
    flex-grow: 1;
}
.room .users {
    border-left: 1px solid #333;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 10px 0;
    position: relative;
    transition: 0.2s all ease-in;
    width: 0;
}
.room .users.show {
    padding: 10px;
    width: 30%;
}
.room .mobile-tab {
    color: #fff;
    background: #fb6812;
    border-radius: 4px 0 0 4px;
    display: block;
    left: -6vw;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: 2vh;
    width: 6vw;
}
.users li {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}
.talk-input {
    border-top: 1px solid #eee;
}
@media screen and (min-width: 768px) {
    .room .users {
        padding: 10px;
        width: 25%;
    }
    .room .mobile-tab {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .room .users {
        width: 15%;
    }
}
